services:
  - type: web
    name: lana-frontend
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    publishDir: ./
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 10000